@inject NavigationManager NavigationManager

<PageTitle>404 Not Found</PageTitle>
<title>404 Not Found</title>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<div class="d-flex row justify-content-center mt-10">
    <MudImage Src="./assets/404.png" Style="max-width: 200px;" />
    <MudText Typo="Typo.h6" Align="Align.Center" Class="mt-5">Page Not Found</MudText>
    <MudText 
        Typo="Typo.subtitle1" 
        Align="Align.Center"> 
        Oops! It seems like you've stumbled upon a page that doesn't exist. Maybe the link is broken, or the page has moved. </MudText>
    <MudButton OnClick="@(()=>NavigationManager.NavigateTo("/"))"
               Style="@($"color:{Colors.Grey.Lighten4}; background:{Colors.BlueGrey.Darken4}; max-width:200px")"
               Class="mt-5" Variant="Variant.Filled">
        Continue Shopping
    </MudButton>
</div>

@code {

}
